@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$f300: 'Montserrat-Light', serif;
$f400: 'Montserrat', serif;
$f500: 'Montserrat-Medium', serif;
$f600: 'Montserrat-SemiBold', serif;
$f800: 'Montserrat-ExtraBold', serif;

@function rem($px) {  // px to rem
  @return $px / 16 * 1rem;
}

@function vw($px) {  // px to vw
  @return $px / 1920 * 100vw;
}

*{
  font-family: $f400;
  font-size: 16px;
}

.title{
  font-family: $f800;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
