@font-face {
  font-family: "Montserrat-Light";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Light"), url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2");
}

